body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgb(233, 232, 244) 70%,rgb(147, 146, 163));
}

h1 {
    font-family: "Roboto Mono", monospace;
    font-size: 80px;
    color: rgb(22, 22, 24);
}

a {
    font-family: "Roboto Mono", monospace;
    text-decoration: none;
    color:rgb(22, 22, 24);
    font-size: 40px;
    font-weight: 1000;
}

.topo {
    position: absolute;
    top: 0;
    width: 100%;
    background: linear-gradient(rgb(147, 146, 163),rgb(233, 232, 244));
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
}